EXPO_PUBLIC_API_URL=http://your_ip
EXPO_PUBLIC_SOCKET_URL=http://your_ip

# Optional TURN server for call feature
EXPO_PUBLIC_TURN_HOST=your-server-public-ip
EXPO_PUBLIC_TURN_USERNAME=chatuser
EXPO_PUBLIC_TURN_PASSWORD=your_turn_password
