PORT=3000

# MySQL Configuration
DATABASE_HOST=localhost
DATABASE_USER=chatuser
DATABASE_PASSWORD=admin123
DATABASE_NAME=chat_app
DATABASE_PORT=3306
DATABASE_URL="mysql://chatuser:admin123@localhost:3306/chat_app"

MYSQL_ROOT_PASSWORD=admin123
MYSQL_DATABASE=chat_app
MYSQL_USER=chatuser
MYSQL_PASSWORD=admin123
MYSQL_PORT=3306

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Server Configuration
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# MinIO Configuration
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=your_pass
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=minio
MINIO_REGION=us-east-1

# Coturn TURN server
TURN_EXTERNAL_IP=your-server-public-ip
TURN_USERNAME=chatuser
TURN_PASSWORD=your_turn_password
TURN_ADMIN_PASSWORD=your_admin_password

# LiveKit
LIVEKIT_URL=http://localhost:7880
LIVEKIT_PUBLIC_URL=http://your-server-public-ip:7880
LIVEKIT_API_KEY=livekit
LIVEKIT_API_SECRET=your_livekit_secret_>_32_chars
LIVEKIT_TURN_ENABLED=true
LIVEKIT_TURN_UDP_PORT=3479
LIVEKIT_TURN_TLS_PORT=0
LIVEKIT_TURN_RELAY_RANGE_START=49152
LIVEKIT_TURN_RELAY_RANGE_END=49400
LIVEKIT_TURN_DOMAIN=your-server-public-ip
LIVEKIT_TURN_EXTERNAL_TLS=false